.container {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #DFDFDF;
  overflow: auto;
}

.top {
  padding-left: 20px;
}

.top h3 {
  font-family: "American Typewriter";
  font-size: 28px;
  color: #11256A;
}

.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.middle h2 {
  color: #010101; 
  font-size: 30;
}

.middle form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.koan p {
  color: #444959;
  font-family: "Courier New";
  font-size: 25px;
}

.navigation {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

input[type=submit] {
    width: 50px;
    height: 50px; 
    background: rgb(73,	85,	100); 
    border: 0 none;
    cursor: pointer;
    border-radius: 25px; 
    color: gray;
    font-size : 30px
}

input[type=text] {
    margin-left: 10px;
    margin-right: 10px;
    height: 30px; 
    border: 1 none;
    border-radius: 5px; 
    color: gray;
    text-align: center;
    font-family: "Courier New";
    font-size: 25px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}

.bottom img {
  width: 100px;
  height: 70px;
}

.koan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrongAnswer {
  font-family: "Courier New";
  font-size: 18;
  color: #FE0505;
}
